<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/css/signin.css}" th:rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" th:action="@{/userRegister}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">请注册</h1>
			<label class="sr-only">账号</label>
			<input type="text" name="user" class="form-control" placeholder="账号" required="" autofocus="">
			<label class="sr-only">密码</label>
			<input type="password" name="password" class="form-control" placeholder="密码" required="" autofocus="">
			<label class="sr-only">手机号</label>
			<input type="text" name="phone" class="form-control" placeholder="手机号" required="" autofocus="">
			<div class="checkbox mb-3">
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
		</form>

	</body>

</html>