<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center"  background="/img/a.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%;
background-attachment: fixed;">
<form class="form-signin" th:action="@{/admin/login}">
    <h1 class="h3 mb-3 font-weight-normal" style="color:#f7f7f7">系统管理员登录</h1>
    <br>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>  <!--如果msg不为才显示代码-->
    <label class="sr-only">Adminname</label>
    <input type="text" name="admin" class="form-control" placeholder="Adminname" required="" autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3" style="color:#f7f7f7">
        <label>
            <input type="checkbox" value="remember-me"  > 记住我
        </label>
    </div>
    <button class="btn btn-primary" type="submit">登录</button>
    <br><br>
    <a href="/index/login" style="color:#fefefe">前往用户登录</a>
    <p class="mt-5 mb-3 text-muted">© 2022-2023</p>
</form>
</body>

</html>